/* regole generali */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.clearfix::after{
  content: "";
  display: table;
  clear: both;
}

a{
  text-decoration: none;
}

/* regole intestazione */
header{
background-image: url(../img/jumbotron.png);
height: 100vh;
background-size: cover;
background-position: center;
}

.header-item{
  color: #000;
  /* debug */
  display: inline-block;
  padding: 10px 0;
  margin-right: 30px;
}

.fa-check-circle{
  color: #fe775a;
}

.fa-search{
  color: #00a7ba;
  margin-right: 20px;
}

/* regole top bar */
.top-bar{
  background-color: #fff;
  padding: 1% 10%;
  border-bottom: 1px solid black;
  /* debug */
}

/* rogole top bar sinistra */
.left-top-bar{
  display: inline-block;
}

/* regole top bar destra*/
.right-top-bar{
  float: right;
}

#log-in{
  color: #fe775a;
  border: 1px solid #fe775a;
  border-radius: 5px;
  padding: 10px;
}

.orange-button{
  color: #fff;
  background-color: #fe775a;
  border-radius: 5px;
  padding: 10px;
}

/* regole nav bar */
nav{
  background-color: #fff;
  padding: 1% 10%;
  /* debug */
  width: 100%;
}

.nav-logo{
  /* debug */
}

.menu{
  float: right;
}

.menu li{
  display: inline-block;
}

/* regole contenuto header */
.header-content{
  margin: 5% 10%;
}

.header-content h1{
  margin-bottom: 30px;
}

.header-content .orange-button{
  padding: 20px 40px;
  display: inline-block;
  margin: 30px 0;
}

.header-content .free-message{
  font-size: 12px;
}

/* regole pagina principale */
main{
  /* debug */
  background-color: #f4f9fd;
  padding: 0;
}

/* regole prima sezione */
.first-section{
  padding: 50px 10%;
}

/* regolle parte superiore prima sezione */
.first-section .top-section{
  text-align: center;
  margin-bottom: 50px;
}

.first-section .top-section p{
  margin-top: 30px;
}

/* regole parte centrale prima sezione */
.first-section .central-section{
  background-color: #fff;
  margin-bottom: 50px;
  padding: 30px;
  box-shadow: 2px 1px 2px 1px #cecece;
}

.first-section .right-central-section{
  text-align: center;
  float: left;
  margin-right: 200px;
}

.first-section .right-central-section img{
  width: 150px;
  display: block;
}

.first-section .right-central-section .orange-button{
  padding: 20px 40px;
  display: inline-block;
  margin-top: 30px;
}

.first-section .left-central-section p{
  margin: 30px 0;
}

.first-section .left-central-section ul{
  margin-top: 30px;
}

.first-section .left-central-section li{
  display: inline-block;
  margin-right: 70px;
}

/* regole parte inferiore prima sezione */
.first-section .bottom-section{
}

.first-section .box{
  width: calc(100% / 3 - 4%);
  float: left;
  background-color: #fff;
  text-align: center;
  margin: 0 2%;
  box-shadow: 2px 1px 2px 1px #cecece;
}

.first-section .bottom-section img{
  height: 100px;
  margin-top: 20px;
}

.first-section .bottom-section h3{
  margin: 30px 0;
}

.first-section .bottom-section hr{
  margin: 30px 30px;
}

.first-section .bottom-section .popular-content{
  text-align: left;
  margin-left: 30px;
}

.first-section .bottom-section .orange-button{
  padding: 20px 40px;
  display: inline-block;
  margin: 30px 0;
}

/* regole seconda sezione */
.second-section{
  background-color: #00a7ba;
  padding: 50px 10%;
}

/* regole parte superiore seconda sezione */
.second-section .top-section{
  background-color: #00a7ba;
}

.second-section h2{
  color: #fff;
  text-align: center;
}

.second-section p{
  color: #fff;
  text-align: center;
  margin-top: 30px;
}

/* regole parte inferiore seconda sezione */
.second-section .bottom-section{
  margin-top: 50px;
}

.second-section .box{
width: calc(100% / 4);
float:left;
border-right: 1px solid #fff;
height: 150px;
position: relative;
}

.second-section .top-row .box:nth-child(4){
  border-right: 0;
}

.second-section .bottom-row .box:nth-child(4){
  border-right: 0;
}

.second-section .content-box{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}

.second-section .top-row{
  text-align: center;
  border-bottom: 1px solid #fff;
}

.second-section .bottom-row{
  text-align: center;
}

.second-section .box-item{
  color: #fff;
  margin-top: 10px;
}

/* regole terza sezione */
.third-section{
  padding: 50px 10%;
}

/* regole parte superiore terza sezione */
.third-section .top-section{
  border: 1px solid black;
}

.third-section .left-top-section{
  display: inline-block;
}

.third-section .right-top-section{
  float: right;
}
/* regole parte inferiore terza sezione */
.third-section .bottom-section{
  border: 1px solid black;
}

.third-section .left-bottom-section{
  margin: 5% 10%;
  float: left;
}

.left-bottom-section h1{
  margin-bottom: 30px;
}

.left-bottom-section .orange-button{
  padding: 20px 40px;
  display: inline-block;
  margin: 30px 0;
}

.left-bottom-section .free-message{
  font-size: 12px;
}

.third-section .bottom-section img{
  float: right;
  height: 300px;
}

/* regole footer */
footer{
  /* debug */
  background-color: #32495b;
}

/* regole parte superiore del footer */
footer .top-section{
  width: 80%;
  margin: auto;
}

footer .top-section .box{
  width: calc(100% / 4 - 2%);
  float: left;
  margin: 0 1%;
}

footer .top-section .content-box{
  color: #fff;
}

#white-button{
  background-color: #fff;
  padding: 10px;
  border-radius: 5px;
  display: inline-block;
  color: black;
}

footer .central-section{
  text-align: center;
  border-bottom: 1px solid #fff;
  margin-bottom: 20px;
  margin: 0 10%;
}

footer ul{
  display: inline-block;
  margin-bottom: 20px;
}

footer li{
  display: inline-block;
  margin: 0 10px;
  color: #fff;
}

footer .bottom-section{
  margin: 0 10%;
  color: #fff;
  margin-bottom: 20px;
  margin-top: 20px;
}

footer .left-bottom-section {
  float: left;
}

footer .left-bottom-section div{
  color: #fff;
}

footer .bottom-section .right-bottom-section{
  float: right;
}
